<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventoryator Rest Client API</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<h1>Inventoryator Rest Client API</h1>
<dl>
    <dt>
        /inventory/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns a list of all inventories available as list of objects.
            </dd>
            <dt>
                POST
            </dt>
            <dd>
                Creates a new inventory. <br/>
                Post body must be of form {"name": str, "description": str} <br/>
                Data returned includes assigned database id.
            </dd>
        </dl>
    </dd>
    <dt>
        /inventory/(int:id)/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns inventory with given as object.
            </dd>
            <dt>
                PUT
            </dt>
            <dd>
                Updates the inventory with the given id. <br/>
                Put body must be of form {"name": str, "description": str}, though only desired updates need to be
                included. <br/>
                Data returned is the updated inventory data.
            </dd>
            <dt>
                DELETE
            </dt>
            <dd>
                Deletes the inventory with the given id from the database.
            </dd>
        </dl>
    </dd>
    <dt>
        /inventory/(int:id)/items/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns a list of items in the inventory with the given id, as a list of objects.
            </dd>
            <dt>
                POST
            </dt>
            <dd>
                Adds the provided item to the inventory with the given id. <br/>
                Post body must be of the form {"name": str, "number": int} <br/>
                Returns dadta for the item added, including its database id.
            </dd>
        </dl>
    </dd>
    <dt>
        /inventory/(int:id)/share/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns a share code.
            </dd>
        </dl>
    </dd>
    <dt>
        /items/(int:id)/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Gets the item
            </dd>
            <dt>
                PUT
            </dt>
            <dd>
                Edits the item. <br/>
                Post body must be of the form {"name": str, "number": int}
            </dd>
            <dt>
                DELETE
            </dt>
            <dd>
                Deletes the item with the given id from the database.
            </dd>
        </dl>
    </dd>
    <dt>
        /user/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns a list of all users.
            </dd>
            <dt>
                PUT
            </dt>
            <dd>
                Login the user. <br/>
                Post body must be of the form {"username": str, "password": sha256}
            </dd>
            <dt>
                POST
            </dt>
            <dd>
                Create a user. <br/>
                Post body must be of the form {"username": unique str, "password1": sha256, "password2": sha256}
            </dd>
        </dl>
    </dd>
    <dt>
        /user/(str:username)/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns the user.
            </dd>
            <dt>
                PUT
            </dt>
            <dd>
                Update the user's password. <br/>
                Post body must be of the form {"password": sha256, "password1": sha256, "password2": sha256}
            </dd>
        </dl>
    </dd>
    <dt>
        /user/(str:username)/inventory/
    </dt>
    <dd>
        <dl>
            <dt>
                GET
            </dt>
            <dd>
                Returns the user's inventories.
            </dd>
        </dl>
    </dd>
    <dt>
        /user/(str:username)/inventory/(int:inventory_id)/
    </dt>
    <dd>
        <dl>
            <dt>
                PUT
            </dt>
            <dd>
                Adds an inventory to the user by id.
            </dd>
            <dt>
                DELETE
            </dt>
            <dd>
                Removes an inventory from a user's account. If no users have access to the inventory, it will be
                deleted.
            </dd>
        </dl>
    </dd>
    <dt>
        /user/(str:username)/share/(str:share_code)/
    </dt>
    <dd>
        <dl>
            <dt>
                PUT
            </dt>
            <dd>
                Adds an inventory to a user's account using a share code.
            </dd>
        </dl>
    </dd>
</dl>
</body>
</html>